<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LivePlayer-HJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E67D2B21E653EBE00376428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E67D2CB1E653EBF00376428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E67D2D61E653EBF00376428</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
